{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<br>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Collegiate Academy</h1>
        <p>Collegiate Academy is a prestigious, forward-thinking institution committed to providing an innovative and rigorous education. With a strong focus on academic excellence, the academy offers a broad curriculum that integrates cutting-edge technology, interdisciplinary learning, and real-world applications. Students are encouraged to engage in critical thinking and problem-solving, preparing them for successful careers in diverse fields such as science, technology, and the arts.</p>
        <p>The academy fosters a supportive and inclusive community, where students are nurtured in their intellectual, social, and personal growth. Through a range of extracurricular activities, including leadership programs, research opportunities, and sports, Collegiate Academy ensures that every student has the opportunity to excel. The school’s dynamic approach to education equips graduates with the skills, knowledge, and confidence to thrive in an ever-evolving world.</p>

     </div>
</div>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Creators</h1>
        <p><a href="https://github.com/rayray404">Rayhan</a> and <a href="https://github.com/kapuuuu">Kapil</a> collaborated on a school DBMS project as part of their 12th-grade Computer Science CBSE curriculum. The project aimed to create an efficient database management system for the school, encompassing key features such as student records, attendance tracking, and grade management. Through this project, Rayhan and Kapil applied their coding and database skills, working together to design, implement, and test the system, gaining practical experience in database management and project development.        </p>
        <h1>Source Code</h1>
        <p>Go visit us at our <a href="https://github.com/rayray404/schooldb">GitHub</a> to check out our freely available source code.</p>
     </div>
</div>

{% endblock %}