{% extends 'base.html' %}

{% block head %}
<title>Collegiate Academy</title>
{% endblock %}

{% block body %}
<br>

<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Contact</h1>
        <div class="table-container">
            <table>
                <tr>
                    <th>Contact Method</th>
                    <th>Details</th>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>(+81) 123-456-789</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>info@collegiateacademy.jp</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>123 Academy Road, Tokyo, Japan</td>
                </tr>
                <tr>
                    <td>Social Media</td>
                    <td>@CollegiateAcademy on Twitter, Instagram</td>
                </tr>
                <tr>
                    <td>IT Admin</td>
                    <td>(+81) 000-123-321</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}