{% extends 'base.html' %}

{% block head %}
<title>Fees</title>
{% endblock %}

{% block body %}
<br>

<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Fees and Funding</h1>
    <table>
        <tr>
            <th>Fee Type</th>
            <th>Amount (JPY)</th>
        </tr>
        <tr>
            <td>Tuition Fee</td>
            <td>¥2,320,000 per year</td>
        </tr>
        <tr>
            <td>Registration Fee</td>
            <td>¥58,000 (one-time)</td>
        </tr>
        <tr>
            <td>Lab & Material Fee</td>
            <td>¥116,000 per year</td>
        </tr>
        <tr>
            <td>Technology Fee</td>
            <td>¥93,000 per year</td>
        </tr>
        <tr>
            <td>Sports & Extracurricular Fee</td>
            <td>¥69,600 per year</td>
        </tr>
        <tr>
            <td>Library Fee</td>
            <td>¥34,400 per year</td>
        </tr>
        <tr>
            <td>Hostel Accommodation</td>
            <td>¥580,000 per year</td>
        </tr>
        <tr>
            <td>Meals & Dining</td>
            <td>¥232,000 per year</td>
        </tr>
        <tr>
            <td>Health & Insurance Fee</td>
            <td>¥69,600 per year</td>
        </tr>
        <tr>
            <td>Graduation Fee</td>
            <td>¥23,200 (one-time)</td>
        </tr>
        <tr class="total">
            <td>Total Annual Fee (without accommodation)</td>
            <td>¥2,993,600</td>
        </tr>
        <tr class="total">
            <td>Total Annual Fee (with accommodation)</td>
            <td>¥3,573,600</td>
        </tr>        
    </table>
    <br>

    <p><u>Payment Schedule: </u><br> 50% of Tuition and Fees due before the start of the semester and 50% due by mid-semester. <br> Other fees payable annually before the academic year begins.</p>
    <p>For more specific information about any facilities or fee discounts <a href="/contact">Contact Us</a>.</p>
    </div>
</div>
{% endblock %}