{% extends 'base.html' %}

{% block head %}
<title>Collegiate Academy</title>
{% endblock %}

{% block body %}
<br>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>School RDBMS</h1>
        <br>
        <h2>Website</h2>
        <ul>
            <li>School Info</li>
            <li>Contact</li>
            <li>Time</li>
            <li>Fees</li>
        </ul> 
        <h2>Admin</h2>
        <ul>
            <li>SQL</li>
            <li>Attendance DDL</li>
            <li>Marks DDL</li>
            <li>Announcements DDL</li>
        </ul>  
        <h2>Teacher</h2>
        <ul>
            <li>Attendance DML</li>
            <li>Marks DML</li>
            <li>HW DML</li>
        </ul>  
        <h2>Student</h2>
        <ul>
            <li>Attendance View</li>
            <li>Marks View</li>
            <li>HW View</li>
            <li>Marks View</li>
        </ul>  
    </div>
</div>

{% endblock %}