{% extends 'base.html' %}

{% block head %}
<title>Collegiate Academy</title>
{% endblock %}

{% block body %}
<br>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>School RDBMS</h1>
        <h2>Website</h2>
        <ul>
            <li>School Information Page</li>
            <li>Contact Page</li>
            <li>Opening and Closing Times</li>
            <li>Fees and Funding Information</li>
        </ul> 
        <h2>Admin</h2>
        <ul>
            <li>Secure Login System</li>
            <li>SQL Portal: to run various specialised SQL commands, such as adding new students/teachers to the database, creating new schema/tables</li>
            <li>Announcements: able to announce publicly-visible announcements</li>
        </ul>  
        <h2>Teacher</h2>
        <ul>
            <li>Secure Login System with allocated userID and password for each teacher</li>
            <li>Able to upload homework specific to their own subject</li>
            <li>Can upload marks of their class and subject</li>
            <li>Teacher's information page</li>
        </ul>  
        <h2>Student</h2>
        <ul>
            <li>Secure Login System with allocated userID and password for each student</li>
            <li>Able to view homework assigned to that particular class</li>
            <li>Can view marks of each type of exam and subject</li>
            <li>Student's information page</li>
        </ul>  
    </div>
</div>

{% endblock %}