{% extends 'student.html' %}

{% block head %}
<title>Student: Homework Portal</title>
{% endblock %}

{% block feature %}
<div class="col-sm-8 mx-auto">
    <h1>Homework Portal</h1>
    <br>
    {% if student_hw %}
      {% for row in student_hw %}
      <div class="card" style="width: 100%;">
          <div class="card-body">
          <h4 class="card-title">{{row[0]}}</h5>
          <p class="card-text"><b>{{row[1]}}</b></p>
          <p class="card-text"><i>Posted: {{row[2]}} | Due by: {{row[3]}}</i></p>
          <p class="card-text"><i>Subject: {{row[4]}}, {{row[5]}}</i></p>
          <p class="card-text"><i></i></p>
          </div>
      </div>
      <br>
      {% endfor %}
    {% endif %}
</div>
{% endblock %} 