{% extends 'student.html' %}

{% block head %}
<title>Student: Personal Details</title>
{% endblock %}

{% block feature %}
<div class="col-sm-8 mx-auto">
    <h1>Student Personal Details</h1>
    <br>
    <div class="table-container">
      <table>
          <tr>
            <th>Details</th>
            <th>Value</th>
          </tr>
          <tr>
              <td>ID</td>
              <td>{{ student_details[0][0] }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ student_details[0][1] }}</td>
          </tr>
          <tr>
            <td>Class</td>
            <td>{{ student_details[0][2] }}</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>{{ student_details[0][3] }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ student_details[0][4] }}</td>
          </tr>

      </table>
  </div>
</div>
{% endblock %} 