{% extends 'teacher.html' %}

{% block head %}
<title>Teacher: Attendance Logger</title>
{% endblock %}

{% block feature %}
<div class="col-sm-8 mx-auto">
    <h1>Attendance Logger</h1>
    <br>
    {% if homeroom %}
    <p>{{teacher_class}} Attendance</p>
      {% if date_received %}
      <form action="" method="post">
      <table>
        <tr>
          <th>Name</th>
          <th>Present</th>
        </tr>
        
      {% for row in student_list %}
        <tr>
          <td>{{ row[1] }}</td>
          <td>
            <div class="form-group">
              {{row[0]}}
              <input type="checkbox" name="present"  value="1">
              <input type="hidden" name="id" value="1">
          </div>
          </td>
        </tr>
      {% endfor %}
      
      </table>
      <input class="btn btn-success" type="submit" value="Submit">
      </form>
      {% else %}
      <form action="" method="post">
        <input type="date" class="form-control" placeholder="Date" name="date" value="{{
          request.form.date }}">
        <input class="btn btn-success" type="submit" value="Set">
      </form>
        <br>
      {% endif %}
      
    {% else %}
    You are not assigned as the <b>Homeroom</b> for any class. If there is any problem, contact <a href="/contact">admin</a>.
    {% endif %}

    
</div>
{% endblock %} 