{% extends 'base.html' %}

{% block head %}
<title>Collegiate Academy</title>
{% endblock %}

{% block body %}
<br>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Opening and Closing Times</h1>
        <p>For more specific information about any faculty or facilities <a href="/contact">Contact Us</a>.</p>
        <div class="table-container">
            <table>
                <tr>
                    <th>Day</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>08:00 AM</td>
                    <td>06:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>08:00 AM</td>
                    <td>05:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>08:00 AM</td>
                    <td>06:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>08:00 AM</td>
                    <td>05:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>08:00 AM</td>
                    <td>07:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>09:00 AM</td>
                    <td>05:00 PM</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}